{% extends 'base.html.twig' %}
{% block stylesheets %}<link rel="stylesheet" href="{{ asset('css/baseUser.css') }}">{% endblock %}
{% block title %}User management{% endblock %}

{% block body %}
    <h1>Edit User</h1>
    {{ include('user/_form.html.twig', {'button_label': 'Update'}) }}
{% endblock %}
